.hero {
  width: 100%;
  height: 60vh;
}

.hero-container-txt-img {
  background: no-repeat center;
  background-size: cover;
  /* background-image: linear-gradient(rgba(177, 175, 175, 0.1),rgba(0, 0, 0, 0.1)), url("/assets/img/hero2.jpg"); */
  background-image: url("/assets/img/hero2.jpg");
  width: 100%;
  height: 100%;
}

h2 {
  margin: 0;
}

.hero-txt {
  width: 25em;
}
