
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
}

.hotel-title {
  margin-left: 1em;
}

.nav {
  display: flex;
  list-style-type: none;
  justify-content:space-evenly;
  width: 400px;
  margin-right: 5em;
}

.nav li a {
  text-decoration: none;
}


