
.main-content-container {
  margin: 0 auto;
  padding: 1em 4em;
}

/* Hotel Benefit Section */

.hotel-benefit {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
} 

.hotel-benefit-section p {
  font-size: 1.5rem;
  font-weight: 300;
  width: 200px;
}

 .hotel-benefit-section {
  text-align: center;
}

div .hotel-benefit-paragraph {
  font-size: 1rem;
}

.icon {
  margin: 0 auto;  
  font-size: 2.5rem;
  color: #99d7dc ;
}

button {
  margin-top: 2.5em;
  border: 1px solid #99d7dc ;
  border-radius: 15px;
  padding: .8em 1.5em;
  width: 150px;
  background-color: white;
  letter-spacing: .5px;
}

button:hover {
  background-color: #99d7dc ;
}


/* Hotel cards */

div .recommendation {
  margin-top: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight:600;
}

.hotel-card-container{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "image"
  "card-content";
  justify-items: center;
  align-items: center;
  gap: 2.5em ; 
  padding: 1em;
}


.card {
  margin: 0;
  max-width: 100%;  
  box-shadow: 0 0 15px 5px rgb(226, 236, 235);
  border-radius: 15px;
}

.card-content {
  grid-area: card-content;
  padding: 0 1em 1em 1em; 
  margin-top: 0;
}

.name {
  margin: 0;
  font-size: 1.3rem;
  color: rgb(49, 47, 47);
  margin-top: 1px;
}

.image {
  grid-area: image;
  width: 100%;
  height: 100%;
  margin-bottom: 2px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.location{
  grid-area: location;
  margin-top: 5px;
  color: gray;

}

.price{
 font-size: 1.1rem;
 font-weight: 800;
 margin: 0;
}

.price-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-book-btn {
  align-items: center;
  margin: 0;
  width: 80px;
}


@media (max-width: 1100px) {
  
  .main-content-container {
    padding: 1em 1em;
  }

.hotel-card-container{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "image"
  "card-content";
}

}

@media (max-width: 850px) {
  
  div .recommendation {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  div .hotel-benefit-title {
    font-size: 2rem;
  }

  .hotel-card-container{
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "image"
    "card-content";
  }

  .hotel-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3em;
  } 

  .hotel-benefit-section {
    margin-bottom: 5em;
  }

  button {
  margin-top: 5px;  
  }
  
}

@media (max-width: 375px) { 
  div .recommendation {
    font-size: 1rem;
  }


}
