
.main-content-container {
  margin: 0 auto;
  padding: 1em 4em;
}

div .recommendation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.hotel-card-container{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "image"
  "name"
  "location"
  "price"
  "description";
  justify-items: center;
  align-items: center;
  grid-gap: 1em ; 
  padding: 1em;
}


.card {
  margin: 0;
  box-shadow: 0 0 10px 1px rgb(226, 236, 235);
  width: 300px;
  height: 400px;
  border-radius: 15px;
  /* padding: 1em; */
}

.card-img-container {
  width: 100%;
  margin-bottom: 0;
}


.card-content {
padding: 0 .5em .5em .5em; 
margin-top: 0;
}

.name {
  grid-area: name;
  margin: 0;
  color: rgb(49, 47, 47);
}

.image {
  grid-area: image;
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.location{
  grid-area: location;
}

.price{
  grid-area: price;
}

.description{
  grid-area: description;
}
