
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  background-color: rgb(27, 26, 26);
  color: white;
  z-index: 2;
}

.hotel-title {
  margin-left: 2.6em;
}

.nav {
  display: flex;
  list-style-type: none;
  justify-content:space-evenly;
  width: 400px;
  margin-right: 5em;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.nav li a:hover {
  color: aquamarine;
}

